

<!-- SET THE CONTROLLER AND GET ALL TODOS -->
<div class="command-panel"> 
    <div class="container custom-container">

 

        <!-- FORM  -->
        
            <div class="col-sm-12 ">
                
                <form class="form-inline">
                    <p class="context-info">{{context}}</p>
                    <div class="form-group large-control">
                        
                        <!-- BIND THIS VALUE TO fcommand IN ANGULAR -->
                        <input type="text" class="form-control " name="command" ng-model="command" placeholder="Enter a fact or a question." >
                        
                    </div>
                    <button type="submit" class="btn btn-primary" ng-click="sendCommand()">Try</button>

                  </form> 
                    
                    
                
            </div>

            <div class="custom-container col-sm-12" ng-if="message">
            <div class="alert alert-info fade in" role="alert">
            <p class="text-info">{{message}}</p>
            </div>
        </div>
       </div>
    </div>    
        
        



