

<!-- SET THE CONTROLLER AND GET ALL TODOS -->

    <div class="container page-header">

 

        <!-- FORM  -->
        
            <div class="col-sm-8 col-sm-offset-2 text-center">
                <div id="command-form" class="row">
                <form>
                    <div class="form-group">

                        <!-- BIND THIS VALUE TO fcommand IN ANGULAR -->
                        <input type="text" class="form-control" name="command" ng-model="command" placeholder="Enter a fact or a question." >
                        
                    </div>
                    <button type="submit" class="btn btn-primary" ng-click="sendCommand()">Try</button>

                  </form> 
                    
                    
                
            </div>
        </div>
       
        
        
        

    </div>

