

<!-- SET THE CONTROLLER AND GET ALL TODOS -->
<div class="command-panel"> 
    <div class="container custom-container">

 

        <!-- FORM  -->
   
                
                <form class="form-inline">
                
                    <p class="context-info">{{context}}</p>
                    <div class="form-group large-control speech">
                        
                        <!-- BIND THIS VALUE TO fcommand IN ANGULAR -->
                        <input type="text" class="form-control " id="transcript" ng-model="command"  >
                        <img class="pulse" ng-click="startDictation()" src="/img/microphone.gif" />
                        
                    </div>
                    <button type="submit" class="btn btn-primary" ng-click="sendCommand(command)">Try</button>

                  </form> 

            

            
        </div>
</div>
<div ng-include='"partials/help.html"' ng-if="getit==false"></div>
      
        
        



