<div class="container">

    <div class="row">

        <div class="col-lg-12">
            <h1 class="page-header">FAQ
                <small>{{message}}</small>
            </h1>
           
        </div>

    </div>

    <div class="row">

        <div class="col-lg-12">

            <div class="panel-group" id="accordion">

                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion"
                               >
                                what todo
                            </a>
                        </h4>
                    </div>
                    <div id="collapseOne" class="panel-collapse collapse">
                        <div class="panel-body">
                            what todo
                        </div>
                    </div>
                </div>

                

            </div>

        </div>

    </div>

</div>
<!-- /.container -->