


<!-- /.section -->

<div  ng-if="userinfo.login==false">
    <div class="section-colored text-center">

        <div class="container">

            <div class="row">
               
                    <h2>Automate tedious tasks with your digital butler</h2>
                    <p>Simply tell and ask the butler.</p>
                    <hr>
                
            </div>
            <!-- /.row -->

       <div class="row">
        <form action="/login" class="navbar-form " method="post">
            <div class="form-group">
              <input type="text" placeholder="Email" name="email" class="form-control">
            </div>
            <div class="form-group">
              <input type="password" placeholder="Password" name="password" class="form-control">
            </div>
            <button type="submit" class="btn btn-primary">Sign in</button>
        </form>
        </div>
        <div class="row">
        <p>or</p>
        <a class="google-sso-cta" href="/auth/google" >
                  <span class="google-logo"></span>
                  Sign in with Google  </a>

         </div>
         </div>
        <!-- /.container -->

    </div>
    <!-- /.section-colored -->

    <!-- /.section-colored -->

    <div class="section">

        <div class="container">

            <div class="row">
                
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <h2>What can I do for you : </h2>
                    <ul>
                        <li>Keep your todo list</li>
                        <li>... and many more to come</li>
                        
                    </ul>
                </div>
                <div class="row well">
                    <div class="col-lg-8 col-md-8">
                        <h4>'The Dital Butler' is always here for you</h4>
                        <p>Just tell him about facts you want him to know or ask him later, he will not forget ! </p>
                    </div>
                    <div class="col-lg-4 col-md-4">
                        <a href="#/register" class="btn btn-lg btn-primary pull-right" >Register</a>
                    </div>
                </div>
            </div>
            <!-- /.row -->

        </div>
        <!-- /.container -->

    </div>
</div>
<div ng-include='"partials/command.html"' ng-if="userinfo.login==true"></div>
<!-- /.section -->


