
    <div class="container"  >
      <ul>
      
      <li>Add <a href="/#/newtask" >new task</a></li>
      <li><a href="/#/newtask" >Send a task</a></li>
      <li ng-if="todos.group.length>0" >
            Pick from <a href="/#/sharedtasks"  shared tasks <span class="badge">{{ todos.group.length }}</span> shared tasks</a></li>
       <li ng-if="todos.group.length==0" >
            No shared tasks to pick from</li>
      </ul>
   

         <!-- PERSONAL TASK 
         -->
        <div ng-if="todos.me.length>0" class=" text-left">
            <h2><span class="badge">{{ todos.me.length }}</span>  in your list</h2>
            <uib-accordion close-others="true" class="todo-list" >
               <div  uib-accordion-group class="panel-default" ng-class="{taskdone: todo.done}"  ng-repeat="todo in todos.me" title="{{todo.description}}" ng-click="showMyTaskDetails(todo)">
                <uib-accordion-heading>
      					<input type="checkbox" ng-checked="todo.done" ng-click="checkTask(todo,$event);" />
      				{{todo.header}}
   				 </uib-accordion-heading>
               <div ng-if="todo.id==currentMyTask.id">
                    <span ng-if="currentMyTask.distribution=='GROUP'">{{currentMyTask.explanation}}</span>
                    <form name="taskForm" sf-schema="taskSchema" sf-form="taskSelfDetailsForm" sf-model="currentMyTask" ng-submit="setTaskDone(currentMyTask,taskForm)"></form>
               </div>
               </div>
             </uib-accordion> 
        
             
        </div>
        <div ng-if="todos.me.length==0" class=" text-left">
            <h2>I don't have any task for you</h2>
        </div>

        <!-- TODO LIST -->



            



 



    </div>

