
    <div class="container"  >
      <div class="btn-group">
      <button ng-if="!newformvisible" type="button" class="btn btn-primary" ng-click="showFormNewTask()">
      New Task </button>
      
    </div>

        
        <div  id="newTaskForm"  uib-collapse="!newformvisible">
        <div class="well">
        <form name="taskFormNew" sf-schema="taskSchema" sf-form="newTaskForm" sf-model="newTask" ng-submit="addTask(newTask,taskFormNew)"></form>

        </div>
        </div>

        <!-- HEADER FOR ACTIONS -->
        <div ng-if="todos.actions.length>0" class=" text-left">
            <h2><span class="badge">{{ todos.actions.length }}</span>  tasks you can start</h2>
            <div ng-repeat="todo in todos.actions">
                <h3  data-toggle="collapse" data-target="#collapseExample" ng-class="{taskdone: todo.done}" ng-click="showTaskDetails(todo)" ><span class="clickable" title="{{todo.description}}" >{{ todo.title }} </span></h3>
                <div ng-if="todo.id==currentTask.id" class="collapse" id="collapseExample">
                    <div class="well">
                        <form name="taskFormAction" sf-schema="taskSchema" sf-form="taskActionDetailsForm" sf-model="currentTask" ng-submit="startAction(currentTask,taskForm)"></form>
                    </div>
                </div>
            </div>
        </div>



        <!-- HEADER AND TODO COUNT -->
        <div ng-if="todos.me.length>0" class=" text-left">
            <h2><span class="badge">{{ todos.me.length }}</span>  in your list</h2>
            <uib-accordion close-others="true" >
               <div  drag-container="true" drag-data="todo" uib-accordion-group class="panel-default" ng-class="{taskdone: todo.done}" heading="{{ todo.title }} {{todo.duedatestr}}" ng-repeat="todo in todos.me" title="{{todo.description}}">
                    <span ng-if="todo.distribution=='GROUP'">{{todo.explanation}}</span>
                    <form name={{todo.id}} sf-schema="taskSchema" sf-form="taskSelfDetailsForm" sf-model="todo" ng-submit="setTaskDone(todo,taskForm)"></form>
               </div>
             </uib-accordion> 
        
             
        </div>
        <div ng-if="todos.me.length==0" class=" text-left">
            <h2>I don't have any task for you</h2>
        </div>

        <!-- TODO LIST -->



            

                <!-- HEADER AND TODO COUNT -->
        <div ng-if="todos.group.length>0" class=" text-left">
            <h2><span class="badge">{{ todos.group.length }}</span>  you can pick in the shared tasks</h2>
                    <!-- TODO LIST -->

            <uib-accordion close-others="true" >

                <!-- LOOP OVER THE TODOS IN $scope.todos -->
                
                <div uib-accordion-group class="panel-default"  ng-class="{taskdone: todo.done}" heading="{{ todo.title }}" title="{{todo.description}}" ng-repeat="todo in todos.group">
                 
                      {{todo.explanation}}
                    <form name="taskForm" sf-schema="taskSchema" sf-form="taskGroupDetailsForm" sf-model="todo" ng-submit="allocateTaskToMe(todo)"></form>

                </div>



            </uib-accordion> 
        </div>
        <div ng-if="todos.group.length==0" class=" text-left">
            <h2>I don't have any shared task you can work on </h2>
        </div>

 



    </div>

