
    <div class="container"  >
      
   

        
      

        <!-- HEADER FOR ACTIONS -->
        <div ng-if="todos.actions.length>0" class=" text-left">
            <h2><span class="badge">{{ todos.actions.length }}</span>  tasks you can start</h2>

            <uib-accordion close-others="true" >
            <div  uib-accordion-group class="panel-default" heading="{{ todo.title }} {{todo.duedatestr}}" ng-repeat="todo in todos.actions" title="{{todo.description}}">
            
                <span ng-if="todo.distribution=='GROUP'">{{todo.explanation}}</span>
                        <form name="taskFormAction" sf-schema="taskSchema" sf-form="taskActionDetailsForm" sf-model="todo" ng-submit="startAction(todo,taskFormAction)"></form>
                 
              
            </div>
            </uib-accordion>
        </div>



 
        <div ng-if="todos.actions.length==0" class=" text-left">
            <h2>I don't have any action you can start</h2>
        </div>

        <!-- TODO LIST -->



            

    

 



    </div>

